RPC_URL=https://rpc.selendra.org
SUBSTRATE_URL=wss://rpc.selendra.org
DATABASE_URL=enpoint
DATABASE_USERNAME=selendra
DATABASE_PASSWORD=selendra
DATABASE_NAMESPACE=blockscan
DATABASE_TABLE=block

# subxt metadata --url https://rpc.selendra.org > selendra_metadata.scale